In [1]:
import pandas as pd

In [24]:
gamedata = pd.read_csv("gamedata.csv")

In [25]:
gamedata

,Animal,Does it like milk?,Does it have four legs?,Does it like bones?,Can it swim?
0,a cat,yes,yes,no,yes
1,a dog,no,yes,yes,yes
2,a fish,no,no,no,yes

In [26]:
gamedata['Does it live on a farm?'] = None

In [27]:
def add_animal(df):
    """
    get answers about a new animal
    """
    newdf = df.copy()
    new_animal = []
    new_animal.append(input("What animal are you thinking of? (a/an) "))
    questions = newdf.columns.to_list()[1:]
    for question in questions:
        new_animal.append(input(question+' '))
    newdf.loc[len(newdf)] = new_animal
    return newdf

In [28]:
def add_question(df):
    """
    Add a question and supply default values to all new cells
    """
    newdf = df.copy()
    new_question=input('Give me a new question to ask: ')
    newdf[new_question] = None
    return newdf

In [29]:
def update_gamedata(df):
    newdf = df.copy()
    missing = newdf.isna().any()
    for m in range(missing.size):
        animals = newdf['Animal']
        if (missing[m]):
            question = newdf.columns.to_list()[m]
            for a in range(newdf.shape[0]):
                answer = input ("Tell me about " + animals[a] + ". " + question + " ")
                newdf.at[a,question] = answer
    return newdf

In [30]:
gamedata

,Animal,Does it like milk?,Does it have four legs?,Does it like bones?,Can it swim?,Does it live on a farm?
0,a cat,yes,yes,no,yes,None
1,a dog,no,yes,yes,yes,None
2,a fish,no,no,no,yes,None

In [31]:
gamedata = add_animal(gamedata)

What animal are you thinking of? (a/an) a horse
Does it like milk? no
Does it have four legs? yes
Does it like bones? no
Can it swim? yes
Does it live on a farm? yes

In [32]:
gamedata

,Animal,Does it like milk?,Does it have four legs?,Does it like bones?,Can it swim?,Does it live on a farm?
0,a cat,yes,yes,no,yes,None
1,a dog,no,yes,yes,yes,None
2,a fish,no,no,no,yes,None
3,a horse,no,yes,no,yes,yes

In [33]:
gamedata = add_question(gamedata)

Give me a new question to ask: Does it have feathers?

In [34]:
gamedata

,Animal,Does it like milk?,Does it have four legs?,Does it like bones?,Can it swim?,Does it live on a farm?,Does it have feathers?
0,a cat,yes,yes,no,yes,None,None
1,a dog,no,yes,yes,yes,None,None
2,a fish,no,no,no,yes,None,None
3,a horse,no,yes,no,yes,yes,None

In [35]:
gamedata = update_gamedata(gamedata)

Tell me about a cat. Does it live on a farm? no
Tell me about a dog. Does it live on a farm? no
Tell me about a fish. Does it live on a farm? no
Tell me about a horse. Does it live on a farm? yes
Tell me about a cat. Does it have feathers? no
Tell me about a dog. Does it have feathers? no
Tell me about a fish. Does it have feathers? no
Tell me about a horse. Does it have feathers? no

In [36]:
gamedata

,Animal,Does it like milk?,Does it have four legs?,Does it like bones?,Can it swim?,Does it live on a farm?,Does it have feathers?
0,a cat,yes,yes,no,yes,no,no
1,a dog,no,yes,yes,yes,no,no
2,a fish,no,no,no,yes,no,no
3,a horse,no,yes,no,yes,yes,no

In [37]:
gamedata = add_animal(gamedata)

What animal are you thinking of? (a/an) a chicken
Does it like milk? no
Does it have four legs? no
Does it like bones? no
Can it swim? no
Does it live on a farm? yes
Does it have feathers? yes

In [38]:
gamedata

,Animal,Does it like milk?,Does it have four legs?,Does it like bones?,Can it swim?,Does it live on a farm?,Does it have feathers?
0,a cat,yes,yes,no,yes,no,no
1,a dog,no,yes,yes,yes,no,no
2,a fish,no,no,no,yes,no,no
3,a horse,no,yes,no,yes,yes,no
4,a chicken,no,no,no,no,yes,yes

In [39]:
gamedata = update_gamedata(gamedata)

In [40]:
gamedata

,Animal,Does it like milk?,Does it have four legs?,Does it like bones?,Can it swim?,Does it live on a farm?,Does it have feathers?
0,a cat,yes,yes,no,yes,no,no
1,a dog,no,yes,yes,yes,no,no
2,a fish,no,no,no,yes,no,no
3,a horse,no,yes,no,yes,yes,no
4,a chicken,no,no,no,no,yes,yes

In [41]:
gamedata = add_question(gamedata)

Give me a new question to ask: Can it jump?

In [42]:
gamedata = update_gamedata(gamedata)

Tell me about a cat. Can it jump? yes
Tell me about a dog. Can it jump? yes
Tell me about a fish. Can it jump? yes
Tell me about a horse. Can it jump? yes
Tell me about a chicken. Can it jump? no

In [43]:
gamedata

,Animal,Does it like milk?,Does it have four legs?,Does it like bones?,Can it swim?,Does it live on a farm?,Does it have feathers?,Can it jump?
0,a cat,yes,yes,no,yes,no,no,yes
1,a dog,no,yes,yes,yes,no,no,yes
2,a fish,no,no,no,yes,no,no,yes
3,a horse,no,yes,no,yes,yes,no,yes
4,a chicken,no,no,no,no,yes,yes,no

In [45]:
gamedata.to_csv("milestone3.csv")